<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>ElevenLabsAPIKey</key>
	<string>$(ELEVENLABS_API_KEY)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record speech for live transcription with ElevenLabs.</string>
</dict>
</plist>
